[[redirects]]
  from = "http://taxi-gervais-85.fr/*"
  to = "https://taxi-gervais-85.fr/:splat"
  status = 301
  force = true

[[redirects]]
  from = "http://www.taxi-gervais-85.fr/*"
  to = "https://taxi-gervais-85.fr/:splat"
  status = 301
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
