---
import { Icon } from 'astro-icon/components';
---
<div class='md:hidden fixed bottom-4 right-4 z-50'>
  <a
    href='tel:0633968023'
    aria-label='Appeler Taxi Anthony Gervais'
    class='bg-green-500 text-white w-16 h-16 rounded-full flex items-center justify-center shadow-lg hover:bg-green-600 transition animate-bounce'>
    <Icon name='lucide:phone' size={24} />
  </a>
</div>
